footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') Hakkımızda
    li: a(href='#') İletişim
    li: a(href='#') Kariyer
    li: a(href='#') Gizlilik Politikası
    li: a(href='#') Kullanım Şartları
  p.footer__copyright &copy; by Natours. Tüm hakları saklıdır.
