footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='/hakkimizda') Hakkımızda
    li: a(href='/iletisim') İletişim
    li: a(href='#') Kariyer
    li: a(href='#') Gizlilik Politikası
    li: a(href='#') Kullanım Şartları
    li: a(href='https://github.com/busrkuru', target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/büşra-kuru-070b40268/', target='_blank') LinkedIn
  p.footer__copyright &copy; by Natours. Tüm hakları saklıdır.
