extends base

block content
  main.main
    .admin-view
      .admin-view__sidebar
        nav.admin-view__menu
          ul.side-nav
            li.side-nav--active#tours-nav-item
              a(href='#')
                svg
                  use(xlink:href='/img/icons.svg#icon-map')
                | Turlar
            li#users-nav-item
              a(href='#')
                svg
                  use(xlink:href='/img/icons.svg#icon-users')
                | Kullanıcılar
            li#reviews-nav-item
              a(href='#')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
                | Yorumlar
            li#bookings-nav-item
              a(href='#')
                svg
                  use(xlink:href='/img/icons.svg#icon-briefcase')
                | Rezervasyonlar

      .admin-view__content
        .admin-view__header
          h2.heading-secondary.ma-bt-md Yönetim Paneli
          .admin-stats
            .admin-stats__item
              .admin-stats__value= stats.tourCount
              .admin-stats__label Toplam Tur
            .admin-stats__item
              .admin-stats__value= stats.userCount
              .admin-stats__label Toplam Kullanıcı
            .admin-stats__item
              .admin-stats__value= stats.bookingCount
              .admin-stats__label Toplam Rezervasyon
            .admin-stats__item
              .admin-stats__value= stats.reviewCount
              .admin-stats__label Toplam Yorum
        
        .admin-section#tours-section
          .admin-section__header
            h3.heading-tertiary Turlar
            button.btn.btn--green.btn--small#add-tour-btn Yeni Tur Ekle
          
          .admin-section__content
            table.admin-table
              thead
                tr
                  th ID
                  th Tur Adı
                  th Fiyat
                  th Zorluk
                  th Ortalama Puan
                  th İşlemler
              tbody#tours-table-body
                //- JavaScript ile doldurulacak

        .admin-section#users-section.hidden
          .admin-section__header
            h3.heading-tertiary Kullanıcılar
            button.btn.btn--green.btn--small#add-user-btn Yeni Kullanıcı Ekle
          
          .admin-section__content
            table.admin-table
              thead
                tr
                  th ID
                  th Ad
                  th Email
                  th Rol
                  th İşlemler
              tbody#users-table-body
                //- JavaScript ile doldurulacak

        .admin-section#reviews-section.hidden
          .admin-section__header
            h3.heading-tertiary Yorumlar
          
          .admin-section__content
            table.admin-table
              thead
                tr
                  th ID
                  th Tur
                  th Kullanıcı
                  th Puan
                  th Yorum
                  th İşlemler
              tbody#reviews-table-body
                //- JavaScript ile doldurulacak

        .admin-section#bookings-section.hidden
          .admin-section__header
            h3.heading-tertiary Rezervasyonlar
          
          .admin-section__content
            table.admin-table
              thead
                tr
                  th ID
                  th Tur
                  th Kullanıcı
                  th Katılımcı Sayısı
                  th Tarih
                  th Fiyat
                  th İşlemler
              tbody#bookings-table-body
                //- JavaScript ile doldurulacak

    script(src='/js/admin.js')
