extends base

block content
  main.main.card-container
    .about-section
        h2.heading-secondary.ma-bt-lg Hakkımızda
        
        .about-content
          .about-text
            h3.heading-tertiary Natours - Tur Rezervasyon Sistemi
            p.paragraph
              | Natours, doğa tutkunları için eşsiz seyahat deneyimleri sunan öncü bir tur şirketidir. 
              | Türkiye'nin ve dünyanın en güzel yerlerini keşfetmeniz için size özel tasarlanmış turlar hazırlamaktayız.
            
            p.paragraph
              | Misyonumuz, doğal güzellikleri, tarihi mekanları ve kültürel değerleri sürdürülebilir turizm anlayışıyla 
              | tanıtmak ve korumaktır. Her turumuzu, güven, kalite ve müşteri memnuniyeti ilkelerimiz doğrultusunda 
              | özenle hazırlıyoruz.
            
            .about-team
              h3.heading-tertiary Ekibimiz
              p.paragraph
                | Deneyimli rehberlerimiz ve uzman ekibimizle, size unutulmaz bir deneyim yaşatmak için buradayız.
                | Ekibimiz, coğrafi bilgisi, tarih ve kültür konusundaki derin bilgisi ile seyahatinizi zenginleştirmek için çalışır.
              
          .about-images
            .about-image
              img(src='/img/logo-green.png' alt='Natours Logo')
            
            .about-values
              h3.heading-tertiary Değerlerimiz
              ul.about-values-list
                li.about-values-item Sürdürülebilir Turizm
                li.about-values-item Çevre Koruma
                li.about-values-item Yerel Kültürlere Saygı
                li.about-values-item Kaliteli Hizmet
                li.about-values-item Müşteri Memnuniyeti

        .about-developer
          h3.heading-tertiary Geliştirici Hakkında
          .developer-info
            p.paragraph
              | Bu proje, Büşra Kuru tarafından Node.js, Express, MongoDB ve modern web teknolojileri kullanılarak geliştirilmiştir.
              | Daha fazla proje ve iletişim için aşağıdaki bağlantıları kullanabilirsiniz:
            
            .developer-links
              a.btn.btn--small(href='https://github.com/busrkuru', target='_blank')
                i.fab.fa-github
                |  GitHub
              a.btn.btn--small(href='https://www.linkedin.com/in/büşra-kuru-070b40268/', target='_blank')
                i.fab.fa-linkedin
                |  LinkedIn
