extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Hesabınıza giriş yapın
      form.form.form--login
        .form__group
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Şifre
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Giriş Yap
        .form__group
          a.form__link(href="/signup") Hesabınız yok mu? Kaydolun
